body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f6ff;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: purple;
  color: white;
  border: none;
  cursor: pointer;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
